{% extends 'drm_site/main.html' %}


{% block content %}
<div style="min-height: 100vh;">
    <div class="card my-5">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted""> The text below can't be copied!!!</h6>
            <div class="card-body my-5">
                <h5 onmousedown='return false;' onselectstart='return false;'>"The best way to cheer yourself up is to try to cheer somebody else up."
                    <br>
                    _Mark Twain
                </h5>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    